In [2]:
import pandas as pd
df = pd.read_csv('dataset.csv')

df

,text,is_rumor,user.handle,topic
0,Charlie Hebdo became well known for publishing...,0.0,BBCDanielS,charliehebdo
1,"Now 10 dead in a shooting there today RT ""@BBC...",0.0,robbylevy,charliehebdo
2,@BBCDanielS @BBCWorld I'm guessing this is bei...,0.0,ModerateInAll,charliehebdo
3,@BBCDanielS @BBCWorld why would you mention th...,0.0,GabTarquini,charliehebdo
4,@BBCDanielS @BBCWorld perps identified?,0.0,freethought41,charliehebdo
...,...,...,...,...
62440,@AnonyOps @Xplant So that means its ok to torc...,1.0,RianAlden,ferguson
62441,"@RianAlden not at all, but they need to change...",1.0,Xplant,ferguson
62442,@Xplant @AnonyOps Absoluteky. But it pains me...,1.0,RianAlden,ferguson
62443,@Xplant @AnonyOps I'm curious how many of thes...,1.0,RianAlden,ferguson
62444,"@Xplant @AnonyOps You get 15,000 people showin...",1.0,RianAlden,ferguson

In [3]:
# check null values
df.isnull().sum()

text               0
is_rumor           2
user.handle        2
topic          12777
dtype: int64

In [4]:
#  check usability of the dataset

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62445 entries, 0 to 62444
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   text         62445 non-null  object
 1   is_rumor     62443 non-null  float64
 2   user.handle  62443 non-null  object
 3   topic        49668 non-null  object
dtypes: float64(1), object(3)
memory usage: 1.9+ MB

In [7]:
#  print null value tuples
null_tuples = df[df.isnull().any(axis=1)]
print(null_tuples)

                                                    text  is_rumor  \
25491                                            @cnnbrk       0.0
25492  “@cnnbrk: Residents of Dammartin-en-Goele told...       0.0
25493  @barneytotos @cnnbrk I doubt they gon allow th...       0.0
25494  “@cnnbrk: Residents of Dammartin-en-Goele told...       0.0
25495  @cnnbrk If they are taken out I hope the polic...       0.0
...                                                  ...       ...
38265  “@SkyNewsBreak: Update - PA: gunman holding ho...       1.0
38266  @SkyNewsBreak ...... I hope it was VERY painfu...       1.0
38267  @maisy59 @SkyNewsBreak "them all" there was tw...       1.0
50394                           @RT_com @NastiaChurkina        NaN
50395                     Unite and march on Washington        NaN

         user.handle     topic
25491    barneytotos       NaN
25492     gixxernoob       NaN
25493     trotromate       NaN
25494      luismeloc       NaN
25495  donnakaye2014       NaN
...              ...       ...
38265          NoyH9       NaN
38266    philippa888       NaN
38267      bashman99       NaN
50394            NaN  ferguson
50395            NaN  ferguson

[12779 rows x 4 columns]

In [8]:
# remove the null values
df = df.dropna()

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49666 entries, 0 to 62444
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   text         49666 non-null  object
 1   is_rumor     49666 non-null  float64
 2   user.handle  49666 non-null  object
 3   topic        49666 non-null  object
dtypes: float64(1), object(3)
memory usage: 1.9+ MB

In [10]:
# save into a "CleanDataset.csv" file
df.to_csv('CleanDataset.csv', index=False)